@model Vet.Web.Models.ViewModels.VacHistoryViewModel;
@{
    ViewData["Title"] = "History";
    ViewData["Page"]="History";
   Vet.Web.Models.ViewModels.PageViewModel pageViewModel=ViewBag.PageViewModel;
}
<div style="background: white;">
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="">
                
                <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Name:@Model.Pet.Name</h5>
                            </div>
                            <div class="col-md-3 offset-md-3">
                                <h5>Breed:@Model.Pet.Breed.Name</h5>
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-md-6">
                                <h5>Date of Birth:@Model.Pet.S_DOB</h5>
                            </div>
                            <div class="col-md-3 offset-md-3">
                            <h5>Owner:@Model.Pet.Owner.Name</h5>
                            </div>
                    </div>
                        <div class="row">
                            <div class="col-md-6">
                            <h5>Address:@Model.Pet.Owner.Address</h5>
                            </div>
                            <div class="col-md-3 offset-md-3">
                            <h5>Contact Number:@Model.Pet.Owner.ContactNumber</h5>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br>
    @Html.Partial("~/Views/Shared/PagerPartialView.cshtml",pageViewModel)
    <br/>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
            <tr>
                    <th>Vaccination Date</th>
                    <th>Vaccine</th>
                    <th>Description/Dose</th>
                    <th>Vet</th>
            </tr>
            <tbody>
                    @foreach (var items in Model.Vaccination)
                    {
                        <tr>
                        <td>@items.CreatedDate.ToString("yyy-MM-dd hh:mm:ss tt")</td>
                        <td>@items.Item.Name</td>
                            <td>@items.Description</td>
                        <td>@items.History.Vet.Name</td>
                        
                        </tr>
                    }
            </tbody>
            
            </table>
            <br/>
                @Html.Partial("~/Views/Shared/PagerPartialView.cshtml",pageViewModel)
            <br/>

        </div>
    </div>
</div>



