@model Vet.Web.Models.ViewModels.EditOwnerViewModel

@{
    ViewData["Title"] = "Edit";
    ViewData["Page"]="Owner";
}

<div style="background: white;">
<br>
<h3>Owner</h3>

<div class="container">
        <div class="row">
            <form asp-action="Edit" method="post" asp-controller="Owner" >
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="mb-3">
                <label for="" class="form-label">Name</label>
                <input type="text" class="form-control" name="Name" value="@Model.Name"/>    
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Address</label>
                <input type="text" class="form-control" name="Address" value="@Model.Address"/>    
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Contact Number</label>
                <input type="text" class="form-control" name="ContactNumber" 
                value="@Model.ContactNumber"/>    
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Bread</th>
                            <th>Age</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Pets)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Breed.Name</td>
                                <td>@item.Age</td>
                                <td>
                                    <a asp-action="Edit" asp-controller="Pet"
                                        asp-route-id="@item.Id"
                                        class="btn btn-outline-success">
                                            Edit
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
           
           
          
            <div class="mb-3">
                <button class="btn btn-outline-success" type="submit">Save </button>
            </div>
        </form>
    </div>
</div>

<div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      
      <strong class="me-auto">Added a new records</strong>
      
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      You've successfully added a record.
    </div>
  </div>
</div>
</div>
@section Scripts{
  
    <script>
       
       
    </script>
}






