@model Vet.Web.Models.ViewModels.ItemsViewModel
@{
    ViewData["Title"]="Items Edit";
    ViewData["Page"]="Edit";
}
@section styles{
<link rel="stylesheet" href="~/lib/selectjs/dist/css/select2.min.css" />
}
<h3>Items Forms</h3>
<br>
<div class="container">
        <div class="row">
        <form asp-action="Edit" method="post" asp-controller="Item" >
            <input type="hidden" name="Id" value="@Model.Id">
            <div class="mb-3">
                <label for="" class="form-label">Name</label>
                <input type="text" class="form-control" name="Name" value="@Model.Name"/>    
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" >PHP.</span>
                  <input type="number" class="form-control" name="Price" 
                    step="0.01" value="@Model.Price"/>  
                </div>
                  
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Type</label>
                <div class="row">
                    <div class="col-md-10">
                        
                        <select name="TypeID" class="form-control" id="TypeID" 
                        data-show-subtext="true" data-live-search="true"
                        asp-items='@(new SelectList(Model.Types,"Id", "Name"))'
                        ></select>
                    </div>
                    <div class="col-md-2">
                        <div class="btn btn-outline-primary" id="add-type">Add</div>
                    </div>
                </div>
                
                <span asp-validation-for="TypeID" class="text-danger"></span>
                
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Description</label>
                <input type="text" class="form-control" name="Description" value="@Model.Description"/>
                <span asp-validation-for="Description" class="text-warning"></span>
            </div>
            <div class="mb-3">
                <button class="btn btn-success" type="submit">Save </button>
            </div>
        </form>
    </div>
</div>
@Html.Partial("~/Views/Item/ItemTypePartial.cshtml"
    ,new Vet.Web.Models.ViewModels.ItemTypeViewModel())
<div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      
      <strong class="me-auto">Added a new records</strong>
      
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      You've successfully added a record.
    </div>
  </div>
</div>
@section Scripts{
  <script src="~/lib/selectjs/dist/js/select2.full.min.js"></script>
    <script>
        var formModal = new bootstrap.Modal(document.getElementById('type-modal'), {
                    keyboard: false
             });
        $(function(){
            $('#TypeID').select2();
            $("#add-type").click(function(){
                formModal.toggle()
            })
        })
       
    </script>
}


