@model Vet.Web.Models.ViewModels.PageViewModel;
@{
    Pager pager=Model.Pager;
}
<div class="container">
    @if(pager.TotalPages>0){
        <nav>
            
            <ul class="pagination justify-content-end">
               
                @if(pager.PreviousPage>=1){
                    <li class="page-item">
                        <a class="page-link" asp-action="@Model.PageAction" 
                        asp-controller="@Model.PageController" 
                        asp-route-page="1">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-action="@Model.PageAction" 
                        asp-controller="@Model.PageController" 
                        asp-route-page="@pager.PreviousPage">Previous</a>
                    </li>
                }
               
                @for (int i = pager.StartPage; i <=pager.Endpage; i++)
                {
                    <li class='page-item @Html.Raw(i==@pager.CurrentPage?"active":"")'>
                        <a class="page-link" asp-action="@Model.PageAction" asp-controller="@Model.PageController" asp-route-page="@i">@i</a>
                    </li>
                }
                @if(pager.NextPage<=pager.TotalPages){
                    <li class="page-item">
                        <a class="page-link" asp-action="@Model.PageAction" asp-controller="@Model.PageController" 
                        asp-route-page="@pager.NextPage">Next</a>
                    </li>
                     <li class="page-item">
                        <a class="page-link" asp-action="@Model.PageAction" asp-controller="@Model.PageController" 
                        asp-route-page="@pager.TotalPages">Last</a>
                    </li>
                }
               
            </ul>

           
        </nav>
    }
</div>